body {
    margin: 0;
    padding: 0;
    color: #000;
    background: url('../../images/login-images/bg-login-top.png') repeat #fff;
    font-size: 100%;
    text-shadow: #050505 0 -1px 0;
    font-weight: bold;
}

ul#navigation {
    display: none;
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    right: 10px;
    list-style: none;
    z-index: 999999;
    width: 515px; /* # of elements x 103px */
}

ul#navigation li {
    width: 103px;
    display: inline;
    float: left;
}

ul#navigation li a {
    display: block;
    float: left;
    margin-top: -2px;
    width: 100px;
    height: 25px;
    background-color: #E7F2F9;
    background-repeat: no-repeat;
    background-position: 50% 10px;
    border: 1px solid #BDDCEF;
    -moz-border-radius: 0px 0px 10px 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-bottom-left-radius: 10px;
    text-decoration: none;
    text-align: center;
    padding-top: 80px;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity = 70);
}

ul#navigation li a:hover {
    background-color: #acd1e9;
}

ul#navigation li a span {
    letter-spacing: 2px;
    font-size: 11px;
    color: #3333cc;
    text-shadow: 0 -1px 1px #fff;
}

ul#navigation .home a {
    background-image: url(../../images/toolbar-icons/Home.png);
}

ul#navigation .register a {
    background-image: url(../../images/toolbar-icons/Shopping_Cart.png);
}

ul#navigation .search a {
    background-image: url(../../images/toolbar-icons/Search.png);
}

ul#navigation .settings a {
    background-image: url(../../images/toolbar-icons/Tools.png);
}

ul#navigation .logout a {
    background-image: url(../../images/toolbar-icons/Lock.png);
}

div#mainContent {
    width: 900px;
    height: 600px;
    position: absolute;
    top: 200px;
    left: 350px;
    /*border: red dotted thick;*/
}

/* TABLES */

table {
    border-top: 1px solid #DFDFDF;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1em;
}

tr {
    border: 0;
}

tr>td:first-child, tr>th:first-child {
    padding-left: 1.25em;
}

tr>td:last-child, tr>th:last-child {
    padding-right: 1.25em;
}

td, th {
    line-height: 1.5em;
    padding: 0.5em 0.6em;
    text-align: left;
    vertical-align: top;
}

th {
    background-color: #efefef;
    background-image: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ffffff), color-stop(1, #eaeaea));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr = '#ffffff', EndColorStr = '#eaeaea');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#ffffff', EndColorStr='#eaeaea')";
    color: #666666;
    font-weight: bold;
    line-height: 1.7em;
    padding: 0.2em 0.6em;
}

thead th {
    white-space: nowrap;
}

th a {
    display: block;
    text-decoration: none;
}

th a:link, th a:visited {
    color: #666666;
}

th a:hover, th a:focus {
    color: #333333;
}

th.sortable a {
    background-position: right;
    background-repeat: no-repeat;
    padding-right: 1.1em;
}

th.asc a {
    background-image: url(../../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../../images/skin/sorted_desc.gif);
}

.odd {
    background: #f7f7f7;
}

.even {
    background: #ffffff;
}

th:hover, tr:hover {
    background: #acd1e9;
}

/* PAGINATION */

.pagination {
    border-top: 0;
    margin: 0;
    padding: 0.3em 0.2em;
    text-align: center;
    -moz-box-shadow: 0 0 3px 1px #AAAAAA;
    -webkit-box-shadow: 0 0 3px 1px #AAAAAA;
    box-shadow: 0 0 3px 1px #AAAAAA;
    background-color: #EFEFEF;
}

.pagination a,
.pagination .currentStep {
    color: #3333cc;
    display: inline-block;
    margin: 0 0.1em;
    padding: 0.25em 0.7em;
    text-decoration: none;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
}

.pagination a:hover, .pagination a:focus,
.pagination .currentStep {
    background-color: #acd1e9;
    color: #3333cc;
    outline: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .pagination a:hover, .no-borderradius .pagination a:focus,
.no-borderradius .pagination .currentStep {
    background-color: transparent;
    color: #3333cc;
    text-decoration: underline;
}
